
div{

    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    

}
#container{
    height: 600px;
    width: 300px;

}
a{
    height: 100px;
    width: 100px;
}
#box2{
    height: 200px;
    flex-shrink: 0.5;
   
}
#box3{
    height: 100px;
    flex-shrink: 0.5;
    
}